* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #11395c;
    color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
}

.section {
    background-color: #11395c0d;
    border-radius: 15px;
    padding: 20px;
    width: 800px;
    margin: auto;
    margin-bottom: 15px;
}

.section_element {
    margin-bottom: 15px;
}

.section_element ul {
    list-style-type: circle;
    margin-left: 20px;
}

h1 {
    color: #ced9e2;
    font-weight: 200;
    font-size: 25px;
    letter-spacing: 0.05cap;
}

table {
    border-collapse: collapse;
    max-width: 50%;
    margin: 1rem;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.contacts input,
.contacts textarea {
    background-color: #8edbeb21;
    border: 1px #2965f07d solid;
}