.article p {
    background-color: #11395c33;
    border: 2px red solid;
    margin: 1px;
    padding: 2px;
    border-radius: 5px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}